In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
!tar xf spark-3.0.1-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
!java -version

tar: spark-3.0.1-bin-hadoop2.7.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
openjdk version "1.8.0_442"
OpenJDK Runtime Environment (build 1.8.0_442-8u442-b06~us1-0ubuntu1~22.04-b06)
OpenJDK 64-Bit Server VM (build 25.442-b06, mixed mode)

In [2]:
import pyspark
import random
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL demo") \
    .getOrCreate()

print("Initialization successful")

Initialization successful

## **Pyspark**

In [6]:
data = spark.read.option("header", "true").option("inferSchema", "true").option("delimiter", ";").csv("/content/cars (2).csv")
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [11]:
data.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

## **SparkSQL**

In [16]:
data.createOrReplaceTempView("data")
spark.sql("SELECT * FROM data").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [17]:
spark.sql("SELECT Car, MPG, Horsepower, Origin FROM data").show()

+--------------------+----+----------+------+
|                 Car| MPG|Horsepower|Origin|
+--------------------+----+----------+------+
|Chevrolet Chevell...|18.0|     130.0|    US|
|   Buick Skylark 320|15.0|     165.0|    US|
|  Plymouth Satellite|18.0|     150.0|    US|
|       AMC Rebel SST|16.0|     150.0|    US|
|         Ford Torino|17.0|     140.0|    US|
|    Ford Galaxie 500|15.0|     198.0|    US|
|    Chevrolet Impala|14.0|     220.0|    US|
|   Plymouth Fury iii|14.0|     215.0|    US|
|    Pontiac Catalina|14.0|     225.0|    US|
|  AMC Ambassador DPL|15.0|     190.0|    US|
|Citroen DS-21 Pallas| 0.0|     115.0|Europe|
|Chevrolet Chevell...| 0.0|     165.0|    US|
|    Ford Torino (sw)| 0.0|     153.0|    US|
|Plymouth Satellit...| 0.0|     175.0|    US|
|  AMC Rebel SST (sw)| 0.0|     175.0|    US|
| Dodge Challenger SE|15.0|     170.0|    US|
|  Plymouth 'Cuda 340|14.0|     160.0|    US|
|Ford Mustang Boss...| 0.0|     140.0|    US|
|Chevrolet Monte C...|15.0|     150.0|    US|
|Buick Estate Wago...|14.0|     225.0|    US|
+--------------------+----+----------+------+
only showing top 20 rows

In [18]:
spark.sql("SELECT * FROM data WHERE Origin = 'US'").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|
|     Plymouth Duster|22.0|        6|       198.0|      95.0|  2833|        15.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [20]:
spark.sql("SELECT Car, MPG FROM data WHERE MPG > 25").show()

+--------------------+----+
|                 Car| MPG|
+--------------------+----+
|        Datsun PL510|27.0|
|Volkswagen 1131 D...|26.0|
|            BMW 2002|26.0|
|        Datsun PL510|27.0|
| Chevrolet Vega 2300|28.0|
|           Opel 1900|28.0|
|         Peugeot 304|30.0|
|           Fiat 124B|30.0|
| Toyota Corolla 1200|31.0|
|         Datsun 1200|35.0|
|Volkswagen Model 111|27.0|
|    Plymouth Cricket|26.0|
|     Renault 12 (sw)|26.0|
|     Datsun 510 (sw)|28.0|
|     Dodge Colt (sw)|28.0|
|Toyota Corolla 16...|27.0|
|Volkswagen Super ...|26.0|
|Fiat 124 Sport Coupe|26.0|
|            Fiat 128|29.0|
|         Datsun B210|31.0|
+--------------------+----+
only showing top 20 rows

In [23]:
spark.sql("SELECT Origin, COUNT(*) as Count FROM cars_data GROUP BY Origin").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `cars_data` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 38;
'Aggregate ['Origin], ['Origin, count(1) AS Count#493L]
+- 'UnresolvedRelation [cars_data], [], false

In [24]:
cars_by_origin = data.groupBy("Origin").count()
cars_by_origin.show(truncate=False)

+------+-----+
|Origin|count|
+------+-----+
|Europe|73   |
|US    |254  |
|Japan |79   |
+------+-----+

In [25]:
spark.sql("SELECT AVG(Horsepower) as Avg_Horsepower FROM data WHERE Cylinders = 4").show()

+-----------------+
|Avg_Horsepower   |
+-----------------+
|76.57487922705315|
+-----------------+

In [26]:
spark.sql("SELECT Origin, AVG(MPG) as Average_MPG FROM data GROUP BY Origin").show()

+------+------------------+
|Origin|Average_MPG       |
+------+------------------+
|Europe|26.745205479452057|
|US    |19.688188976377948|
|Japan |30.450632911392397|
+------+------------------+

In [27]:
spark.sql("SELECT Origin, MAX(Horsepower) as Max_Horsepower FROM data GROUP BY Origin").show()

+------+--------------+
|Origin|Max_Horsepower|
+------+--------------+
|Europe|133.0         |
|US    |230.0         |
|Japan |132.0         |
+------+--------------+

In [28]:
spark.sql("SELECT Car, MPG FROM data ORDER BY MPG DESC").show()

+--------------------+----+
|                 Car| MPG|
+--------------------+----+
|           Mazda GLC|46.6|
| Honda Civic 1500 gl|44.6|
|Volkswagen Rabbit...|44.3|
|   Volkswagen Pickup|44.0|
|Volkswagen Dasher...|43.4|
|Volkswagen Rabbit...|43.1|
|   Volkswagen Rabbit|41.5|
|Renault Lecar Deluxe|40.9|
|          Datsun 210|40.8|
|      Datsun B210 GX|39.4|
|      Toyota Starlet|39.1|
|      Plymouth Champ|39.0|
|Toyota Corolla Te...|38.1|
|Plymouth Horizon ...|38.0|
|         Honda Civic|38.0|
|       Datsun 310 GX|38.0|
|Oldsmobile Cutlas...|38.0|
|       Toyota Tercel|37.7|
|  Fiat Strada Custom|37.3|
|          Datsun 310|37.2|
+--------------------+----+
only showing top 20 rows

In [29]:
spark.sql("SELECT Car, Weight, Horsepower FROM data ORDER BY Weight ASC, Horsepower DESC").show()

+--------------------+------+----------+
|                 Car|Weight|Horsepower|
+--------------------+------+----------+
|         Datsun 1200|  1613|      69.0|
|      Toyota Corolla|  1649|      52.0|
|      Toyota Starlet|  1755|      58.0|
|    Honda Civic 1300|  1760|      60.0|
| Toyota Corolla 1200|  1773|      65.0|
|    Honda Civic CVCC|  1795|      53.0|
|         Honda Civic|  1795|      53.0|
|         Ford Fiesta|  1800|      66.0|
|    Honda Civic CVCC|  1800|      60.0|
|   Volkswagen Rabbit|  1825|      71.0|
|       Renault 5 GTL|  1825|      58.0|
|Volkswagen Model 111|  1834|      60.0|
|Volkswagen 1131 D...|  1835|      46.0|
|Renault Lecar Deluxe|  1835|       0.0|
| Toyota Corolla 1200|  1836|      65.0|
|   Volkswagen Rabbit|  1845|      62.0|
| Honda Civic 1500 gl|  1850|      67.0|
|            Fiat 128|  1867|      49.0|
|      Plymouth Champ|  1875|      64.0|
|Dodge Colt Hatchb...|  1915|      80.0|
+--------------------+------+----------+
only showing top 20 rows

In [30]:
spark.sql("SELECT Model, Origin, COUNT(*) as Count FROM data GROUP BY Model, Origin ORDER BY Model, Origin").show()

+-----+------+-----+
|Model|Origin|Count|
+-----+------+-----+
|   70|Europe|    6|
|   70| Japan|    2|
|   70|    US|   27|
|   71|Europe|    5|
|   71| Japan|    4|
|   71|    US|   20|
|   72|Europe|    5|
|   72| Japan|    5|
|   72|    US|   18|
|   73|Europe|    7|
|   73| Japan|    4|
|   73|    US|   29|
|   74|Europe|    6|
|   74| Japan|    6|
|   74|    US|   15|
|   75|Europe|    6|
|   75| Japan|    4|
|   75|    US|   20|
|   76|Europe|    8|
|   76| Japan|    4|
+-----+------+-----+
only showing top 20 rows

In [31]:
spark.sql("SELECT percentile_approx(MPG, 0.5) as Median_MPG FROM data").show()

+----------+
|Median_MPG|
+----------+
|      22.3|
+----------+

In [33]:
spark.sql("SELECT Car, Acceleration FROM data WHERE Acceleration > (SELECT percentile_approx(Acceleration, 0.75) FROM data)").show()

+--------------------+------------+
|                 Car|Acceleration|
+--------------------+------------+
|Citroen DS-21 Pallas|        17.5|
|Volkswagen 1131 D...|        20.5|
|         Peugeot 504|        17.5|
|            Saab 99e|        17.5|
|            Hi 1200D|        18.5|
|          Ford Pinto|        19.0|
|Volkswagen Super ...|        20.0|
| Chevrolet Vega (sw)|        19.0|
|         Peugeot 304|        19.5|
| Toyota Corolla 1200|        19.0|
|         Datsun 1200|        18.0|
|Volkswagen Model 111|        19.0|
|    Plymouth Cricket|        20.5|
|   Volkswagen Type 3|        23.5|
|      Chevrolet Vega|        19.5|
| Volkswagen 411 (sw)|        18.0|
|    Peugeot 504 (sw)|        19.5|
|     Renault 12 (sw)|        18.0|
|Chevrolet Nova Cu...|        18.0|
|Volkswagen Super ...|        21.0|
+--------------------+------------+
only showing top 20 rows

In [34]:
spark.sql("SELECT * FROM data WHERE MPG IS NULL").show(truncate=False)

+---+---+---------+------------+----------+------+------------+-----+------+
|Car|MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+---+---+---------+------------+----------+------+------------+-----+------+
+---+---+---------+------------+----------+------+------------+-----+------+

In [35]:
spark.sql("SELECT AVG(Horsepower) as Avg_Horsepower FROM data").first()[0]

103.5295566502463